<html>
	<head>
		<title>MikeWebsite</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
        <script type="text/javascript" src="jquery.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage" >

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" >Homepage</a></li>
                        <li><a href="index1.html" >Avengers</a></li>
						<li><a href="index2.html" >FIBA</a></li>
						<li><a href="index3.html">ReactionGame</a></li>
                        <li><a href="index4.html">Universe</a></li>
                        <li class="active"><a href="index5.html"  class="button button-style">CanvasGame</a></li>
                        <li><a href="index6.html">NBAFinals</a></li>
                        <li><a href="intro.html">About me</a></li>
					</ul>
				</nav>
			</div>
			

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>透過 W:上 S:下 A:左 D:右 控制</header>
				<p></p>
				<hr />
                <iframe src="https://tookapillinibiza.github.io/HTML_HW5_CanvasGame/index.html" width="1200" height="1000" scrolling="auto"></iframe>
                
                
            </div>
        </div>
                
<!-- Main -->
		<div id="main">
			<div id="content" class="container">
                <h2>My Favorite Website</h2>
                <hr>
				<div class="row">
					<section class="6u">
						<a href="https://www.youtube.com/channel/UC-z9BI8hMHNPrvnccyWgjyg" class="image full"><img src="images/kesi.jpg" alt=""></a>
						<header>
							<h2>康熙來了</h2>
						</header>
						<p>台灣最具影響力的談話性節目，吃飯或睡前搭著看，簡直絕配</p>
					</section>				
					<section class="6u">
						<a href="http://www.bnext.com.tw/" class="image full"><img src="images/media.jpg" alt=""></a>
						<header>
							<h2>數位時代</h2>
						</header>
						<p>針對每周大事去做用心的剖析及討論，讓你能掌握最新的知識，跟上世界的脈動</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="https://world.taobao.com/" class="image full"><img src="images/taobao.jpg" alt=""></a>
						<header>
							<h2>淘寶網</h2>
						</header>
						<p>全球最大電商平台網站，價格低廉又實在，任何東西都能在這裡找到，一同去淘寶吧</p>
					</section>				
					<section class="6u">
						<a href="http://www.lm-us.com/%E7%B5%95%E5%91%BD%E6%AF%92%E5%B8%AB-%E7%AC%AC1%E5%AD%A3%E7%AC%AC1%E9%9B%86-breaking-bad-s1ep1-%E7%BE%8E%E5%8A%87%E7%B7%9A%E4%B8%8A%E7%9C%8B/" class="image full"><img src="images/breakingbad.jpg" alt=""></a>
						<header>
							<h2>LoveMovie 美劇線上看</h2>
						</header>
						<p>大量免費的外國影集，可以感受國外不同的戲劇手法又可以訓練英文聽力，簡直一舉兩得</p>
					</section>				
				</div>
			
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Or Time flies&rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Keep in touch with me</h2>
						<span class="byline">If you have any advices, please let me know. Thank you.</span>
					</header>
					<ul class="contact">
						
						<li class="active"><a href="https://www.facebook.com/chunyueh.chiu" class="fa fa-facebook"><span>Facebook</span></a></li>
						
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
			</div>
		</div>

	</body>
</html>
</html>