<html>
	<head>
		<title>MikeWebsite</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" >Homepage</a></li>
                        <li><a href="index1.html">Avengers</a></li>
						<li><a href="index2.html">FIBA</a></li>
						<li><a href="index3.html">ReactionGame</a></li>
                        <li><a href="index4.html">Universe</a></li>
                        <li><a href="index5.html">CanvasGame</a></li>
                        <li  class="active"><a href="index6.html" class="button button-style">NBAFinals</a></li>
                        <li><a href="intro.html">About me</a></li>
					</ul>
				</nav>
			</div>
			

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				
                        	<article>
                                <header>
                                    <h2 class="main-title">主題說明</h2>
                                </header>
                                <p>
                                    NBA 總冠軍賽 金洲勇士v.s克里夫蘭騎士<br>
                                </p>
                            	<header>
                                    <h2 class="main-title">程式說明</h2>
                                </header>
                                <p>
                                    加一點點滑鼠會滑過去會變成長大版的人物，這些照片找好久，還用photoshop把<br>
                                    他們全部都去背了，雖然有點偏題又麻煩，但做的很開心，對CSS雖然比較不熟，<br>
                                    但我很願意去做一些更好玩的東西。(解析度調到50%可能會比較好)<br>
                                </p>
                                 <header>
                                    <h2 class="main-title">學習心得</h2>
                                </header>
                                <p>
                                    很謝謝老師，帶領我們完成了好幾個作業，雖然準備要升大肆了，但從這門課和其他<br>
                                    也需要coding的課程憶起交抽著上，讓我對未來有個小小的方向，尤其在上個作業<br>
                                    ，當我自己做出來的時候，真的很開心，雖然只是一個小小的遊戲，但這背後的辛苦<br>
                                    都是值得的，讓我產生對網頁的興趣，希望能從網頁工程師開始對未來做寫程式的發<br>
                                    展，感謝老師這學期的教導，我學習到非常多的知識，希望老師也能給我些對未來的<br>
                                    建議，如果將來想要實習像網頁前端工程師，需要具備那些能力，謝謝老師<br>
                                </p>
                                
                            </article>
                        

            </div>
        </div>
                
<!-- Main -->
		<div id="main">
			<div id="content" class="container">
                <h2>My Favorite Website</h2>
                <hr>
				<div class="row">
					<section class="6u">
						<a href="https://www.youtube.com/channel/UC-z9BI8hMHNPrvnccyWgjyg" class="image full"><img src="images/kesi.jpg" alt=""></a>
						<header>
							<h2>康熙來了</h2>
						</header>
						<p>台灣最具影響力的談話性節目，吃飯或睡前搭著看，簡直絕配</p>
					</section>				
					<section class="6u">
						<a href="http://www.bnext.com.tw/" class="image full"><img src="images/media.jpg" alt=""></a>
						<header>
							<h2>數位時代</h2>
						</header>
						<p>針對每周大事去做用心的剖析及討論，讓你能掌握最新的知識，跟上世界的脈動</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="https://world.taobao.com/" class="image full"><img src="images/taobao.jpg" alt=""></a>
						<header>
							<h2>淘寶網</h2>
						</header>
						<p>全球最大電商平台網站，價格低廉又實在，任何東西都能在這裡找到，一同去淘寶吧</p>
					</section>				
					<section class="6u">
						<a href="http://www.lm-us.com/%E7%B5%95%E5%91%BD%E6%AF%92%E5%B8%AB-%E7%AC%AC1%E5%AD%A3%E7%AC%AC1%E9%9B%86-breaking-bad-s1ep1-%E7%BE%8E%E5%8A%87%E7%B7%9A%E4%B8%8A%E7%9C%8B/" class="image full"><img src="images/breakingbad.jpg" alt=""></a>
						<header>
							<h2>LoveMovie 美劇線上看</h2>
						</header>
						<p>大量免費的外國影集，可以感受國外不同的戲劇手法又可以訓練英文聽力，簡直一舉兩得</p>
					</section>				
				</div>
			
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Or Time flies&rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Keep in touch with me</h2>
						<span class="byline">If you have any advices, please let me know. Thank you.</span>
					</header>
					<ul class="contact">
						
						<li class="active"><a href="https://www.facebook.com/chunyueh.chiu" class="fa fa-facebook"><span>Facebook</span></a></li>
						
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>