<html>
	<head>
		<title>MikeWebsite</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" >Homepage</a></li>
                        <li><a href="index1.html">HW1</a></li>
						<li><a href="index2.html">HW2</a></li>
						<li><a href="index3.html">HW3</a></li>
                        <li><a href="index4.html">HW4</a></li>
                        <li  class="active"><a href="index5.html" class="button button-style">HW5</a></li>
                        <li><a href="index6.html">HW6</a></li>
                        <li><a href="intro.html">Intro</a></li>
					</ul>
				</nav>
			</div>
			

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				
                        	<article>
                                <header>
                                    <h2 class="main-title">主題說明</h2>
                                </header>
                                <p>
                                    大雄必須找到所有的銅鑼燒，才能去找哆啦A夢，過程中不能被胖虎和小夫逮到。<br>
                                </p>
                            	<header>
                                    <h2 class="main-title">程式說明</h2>
                                </header>
                                <p>
                                    對於老師上課的BirdRPG例子去做改變，與讓胖虎和小夫可以自由走動，過程中<br>
                                    要讓胖虎和小夫自由走動倒還好，要讓他們判斷樹、銅鑼燒、邊界和哆啦A夢不能<br>
                                    走的這個bug真的好辛苦，原本每按一次開始setInterval的時間會減半的bug我<br>
                                    也有修正好，但後來覺得基於遊戲性，讓胖虎和小夫能美按一次開始就走更快，會<br>
                                    更好玩<br>
                                    
                                </p>
                                 <header>
                                    <h2 class="main-title">學習心得</h2>
                                </header>
                                <p>
                                    對於這次Canvas的主題我覺得很有趣，因為可已讓自己想要做的遊戲呈現在網頁上<br>
                                    ，原本以為遊戲的程式，都要遊戲相關的科系才做得出來大，這次的程式花了我3天<br>
                                    的時間，雖然很累但很值得，由這次作業讓我知道寫程式要一步步往上堆，做出雛形<br>
                                    後，才能對程式的bug進行修改與優化，原來程式設計最後所創造出來的結果會讓人<br>
                                    很開心，但想問老師對於把ˇ遊戲放到template上，我的整個螢幕會跟著方向鍵做<br>
                                    移動，是要對網頁的預設質做改變還是用其他辦法呢<br>
                                </p>
                                
                            </article>
                        

            </div>
        </div>
                
<!-- Main -->
		<div id="main">
			<div id="content" class="container">
                <h2>My Favorite Website</h2>
                <hr>
				<div class="row">
					<section class="6u">
						<a href="https://www.youtube.com/channel/UC-z9BI8hMHNPrvnccyWgjyg" class="image full"><img src="images/kesi.jpg" alt=""></a>
						<header>
							<h2>康熙來了</h2>
						</header>
						<p>台灣最具影響力的談話性節目，吃飯或睡前搭著看，簡直絕配</p>
					</section>				
					<section class="6u">
						<a href="http://www.bnext.com.tw/" class="image full"><img src="images/media.jpg" alt=""></a>
						<header>
							<h2>數位時代</h2>
						</header>
						<p>針對每周大事去做用心的剖析及討論，讓你能掌握最新的知識，跟上世界的脈動</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="https://world.taobao.com/" class="image full"><img src="images/taobao.jpg" alt=""></a>
						<header>
							<h2>淘寶網</h2>
						</header>
						<p>全球最大電商平台網站，價格低廉又實在，任何東西都能在這裡找到，一同去淘寶吧</p>
					</section>				
					<section class="6u">
						<a href="http://www.lm-us.com/%E7%B5%95%E5%91%BD%E6%AF%92%E5%B8%AB-%E7%AC%AC1%E5%AD%A3%E7%AC%AC1%E9%9B%86-breaking-bad-s1ep1-%E7%BE%8E%E5%8A%87%E7%B7%9A%E4%B8%8A%E7%9C%8B/" class="image full"><img src="images/breakingbad.jpg" alt=""></a>
						<header>
							<h2>LoveMovie 美劇線上看</h2>
						</header>
						<p>大量免費的外國影集，可以感受國外不同的戲劇手法又可以訓練英文聽力，簡直一舉兩得</p>
					</section>				
				</div>
			
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Or Time flies&rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Keep in touch with me</h2>
						<span class="byline">If you have any advices, please let me know. Thank you.</span>
					</header>
					<ul class="contact">
						
						<li class="active"><a href="https://www.facebook.com/chunyueh.chiu" class="fa fa-facebook"><span>Facebook</span></a></li>
						
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>