<html>
	<head>
		<title>MikeWebsite</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" >Homepage</a></li>
                        <li><a href="index1.html">HW1</a></li>
						<li><a href="index2.html">HW2</a></li>
						<li><a href="index3.html">HW3</a></li>
                        <li><a href="index4.html">HW4</a></li>
                        <li><a href="index5.html">HW5</a></li>
                        <li><a href="index6.html">HW6</a></li>
                        <li  class="active"><a href="intro.html" class="button button-style">Intro</a></li>
					</ul>
				</nav>
			</div>
			

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				
                        	<article>
                            	<header>
                                    <h2 class="main-title">熱愛運動的人</h2>
                                </header>
                                <img src="images/selfie.jpg" alt="personal.jpg" style="width:50%">
                        
                                <p>
                                    我叫丘鈞岳，平常喜歡打籃球、看電影、影集、隨著年齡增長就更喜歡美式幽默,<br>
                                    我很喜歡做自己喜歡做的事，從小就喜歡自由的安排自己的生活，選擇自己相信<br>
                                    的，活出自己的人生。
                                </p>
                                <p>
                                    其實對於資管系，我還是充滿非常多的迷茫，似乎找不到自己的專精，coding<br>
                                    也不強，管理項目又覺得太過不實際，都只是紙上談兵。所以做己想了又想，與<br>
                                    其讓自己繼續躲在學校裡找到自己的出路目前也只能往研究所的方向繼續努力打<br>
                                    拼，或許過個幾年後，我也能為自己的未來找到好的規劃。
                                    
                                </p>
                                
                            </article>
                        

            </div>
        </div>
                
<!-- Main -->
		<div id="main">
			<div id="content" class="container">
                <h2>My Favorite Website</h2>
                <hr>
				<div class="row">
					<section class="6u">
						<a href="https://www.youtube.com/channel/UC-z9BI8hMHNPrvnccyWgjyg" class="image full"><img src="images/kesi.jpg" alt=""></a>
						<header>
							<h2>康熙來了</h2>
						</header>
						<p>台灣最具影響力的談話性節目，吃飯或睡前搭著看，簡直絕配</p>
					</section>				
					<section class="6u">
						<a href="http://www.bnext.com.tw/" class="image full"><img src="images/media.jpg" alt=""></a>
						<header>
							<h2>數位時代</h2>
						</header>
						<p>針對每周大事去做用心的剖析及討論，讓你能掌握最新的知識，跟上世界的脈動</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="https://world.taobao.com/" class="image full"><img src="images/taobao.jpg" alt=""></a>
						<header>
							<h2>淘寶網</h2>
						</header>
						<p>全球最大電商平台網站，價格低廉又實在，任何東西都能在這裡找到，一同去淘寶吧</p>
					</section>				
					<section class="6u">
						<a href="http://www.lm-us.com/%E7%B5%95%E5%91%BD%E6%AF%92%E5%B8%AB-%E7%AC%AC1%E5%AD%A3%E7%AC%AC1%E9%9B%86-breaking-bad-s1ep1-%E7%BE%8E%E5%8A%87%E7%B7%9A%E4%B8%8A%E7%9C%8B/" class="image full"><img src="images/breakingbad.jpg" alt=""></a>
						<header>
							<h2>LoveMovie 美劇線上看</h2>
						</header>
						<p>大量免費的外國影集，可以感受國外不同的戲劇手法又可以訓練英文聽力，簡直一舉兩得</p>
					</section>				
				</div>
			
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;Or Time flies&rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Keep in touch with me</h2>
						<span class="byline">If you have any advices, please let me know. Thank you.</span>
					</header>
					<ul class="contact">
						
						<li class="active"><a href="https://www.facebook.com/chunyueh.chiu" class="fa fa-facebook"><span>Facebook</span></a></li>
						
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>